
    <div class="main-content">

        <div class="floating-card" style="background-color: #ffffff; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; margin: 20px auto; max-width: 800px; position: relative;">
            <img src="Assets/Images/A_logo.png" alt="Logo.png" style="position: absolute; top: 15px; right: 15px; width: 40px; height: 40px;">
            <h3 style="color: #28a745; text-decoration: underline;">What is this app?</h3>
            <p>This app is designed to empower you in managing your finances effectively. Here's what you can achieve with it:</p>
            <ul style="padding-left: 20px; line-height: 1.5;">
                <li>Explore different loan options.</li>
                <li>Understand repayment schedules.</li>
                <li>Compare interest rates effortlessly.</li>
                <li>Calculate monthly payments.</li>
                <li>Create strategies for faster loan repayment.</li>
            </ul>
<hr style="color: #28a745;">
            <img src="Assets\Images\CashImg.svg" alt="$$$.png" style="max-width: 100%; height: auto; display: block; margin: 20px auto;">
        </div>


        <div class="content-column">
            <section id="about">
                <h2><span class="about-section"><u>Why Use Loan Insights?</u></span></h2>

                <ul>
                    <li><strong>Ease of Use:</strong> Simple interface for quick calculations and comparisons.</li>
                    <li><strong>Versatility:</strong> Supports different loan types, including personal, car, and mortgage loans.</li>
                    <li><strong>Customization:</strong> Allows you to tailor repayment strategies based on your needs.</li>
                </ul>
            </section>
            
        </div>
    </div>

